.div1 {
    height: 100px;
    width: 100px;
    margin-top: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
    margin-left: 40px;
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    background-color: yellow;
    position: relative;
    left: 100px;
    top: 50px;
}

.div2 {
    height: 100px;
    width: 100px;
    margin-top: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
    margin-left: 40px;
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    background-color: blue;
    position: relative;
    right: 150px;
    bottom: 320px;
}

.div3 {
    height: 100px;
    width: 100px;
    margin-top: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
    margin-left: 40px;
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    background-color: green;
    position: relative;
    left: 180px;
    bottom: 240px;
}