.main {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: pink;
  }
  
  .popup{
    width: 40vw;
    height: 30vh;
    top: 35vh;
    background-color: white;
    border-radius: 20px;
    position: fixed;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(1000px);
  }
  
  body:hover .popup {
    transform: translateY(0);
    transition: transform 2s;
  }