.content {
        background: red;
}

@media (min-width: 480px) {
    .content {
        background: yellow;
    }
}

@media (min-width: 768px) {
    .content {
        background: green;
    }
}