.section1 {
  height: 50%;
  background-color: mediumorchid;
}

.section1__title {
  text-align: center;
}

.section2 {
  background-color: cyan;
}

.section2__container-button--button {
  background-color: red;
  border-radius: 5px;
  height: 45px;
}